<div class='wrapper__header'>
	<img class='navbar__mobile--logo' src='/img/favicon.ico' />
	<div class='container wide'>
		<div class='header__navbar'>
			<!-- Navbar Mobile -->

			<label for='navbar__mobile--input' class='navbar__bars-btn'>
				<i class='fas fa-bars'></i>
			</label>
			<input type='checkbox' id='search--checkbox' class='search__mobile--checkbox' hidden />

			<!-- Side bar mobile -->

			<input type='checkbox' class='navbar__input' id='navbar__mobile--input' />
			<label for='navbar__mobile--input' class='navbar__overlay'> </label>
			<div class='sidebar-mobile'>
				<div class='sidebar-mobile__header'>
					<a href='' class='sidebar-mobile__header--link'>
						<img class='sidebar-mobile__header--logo' src='/img/favicon.ico' />
					</a>
					<p class='sidebar-mobile__header--title'>CTU &emsp14; HOSPITAL</p>
					<label for='navbar__mobile--input' class='side__mobile--close'>
						<i class='fas fa-times'></i>
					</label>
				</div>
				<div class='sidebar-mobile__main'>
					<a href='/' class='sidebar__link home'> Trang chủ </a>
					<a href='/' class='sidebar__link'>Đăng ký khám bệnh</a>
					<a href='/tim-kiem/trang-chu' class='sidebar__link'> Tìm bệnh nhân </a>
					<a href='/benh-nhan' class='sidebar__link'>Quản lí bệnh nhân </a>
					<a href='/dang-ky-kham-benh/danh-sach' class='sidebar__link'> Danh sách đăng ký khám bệnh</a>
					<a href='/bac-si' class='sidebar__link'> Quản lí bác sĩ</a>
					<a href='/dang-xuat' class='sidebar__link sign-in'> Đăng nhập</a>
					<a href='/dang-xuat' class='sidebar__link sign-up'> Đăng ký</a>
					<a href='/doi-mat-khau' class='sidebar__link change-password'> Đổi mật khẩu</a>
					<a href='/dang-xuat' class='sidebar__link sign-out'> Đăng xuất</a>
				</div>
				<div class='sidebar-mobile__footer'>
					<a href='' class='sidebar__link side__footer--social footer__fb'>
						<i class='fab fa-facebook'></i>
						<p>Facebook</p>
					</a>
					<a href='' class='sidebar__link side__footer--social footer__zalo'>
						<i class='fas fa-comment'></i>
						<p>Zalo</p>
					</a>
				</div>
			</div>

			<!-- Navbar PC -->

			<div class='header__navbar-left'>
				<a href='/' class='navbar-left home'>
					<i class='fas fa-home'></i>
					<p>TRANG CHỦ</p>
				</a>
				<nav class="features">
					<ul class='dropdown'>
						<li class='drop'><a href='#'>
							<p>TÙY CHỌN</p>
							</a>
							<ul class='sub_menu'>
								<li><a href='/'><p>ĐĂNG KÝ KHÁM CHỮA BỆNH</p></a></li>
								<li><a href='/tim-kiem/trang-chu'><p>TÌM BỆNH NHÂN</p></a></li>
								<li><a href='/benh-nhan'><p>QUẢN LÍ BỆNH NHÂN</p></a></li>
								<li><a href='/dang-ky-kham-benh/danh-sach'><p>DANH SÁCH ĐĂNG KÝ KHÁM CHỮA BỆNH</p></a></li>
								<li><a href='/bac-si'><p>QUẢN LÍ BÁC SĨ</p></a></li>
						</li>
					</ul>
				</nav>
			</div>
			<div class='header__navbar-right'>
				<a href='/dang-nhap' class='navbar-right sign-in'>
					<i class='fas fa-sign-in-alt'></i>
					<p>ĐĂNG NHẬP</p>
				</a>
				<a href='/dang-ky' class='navbar-right sign-up'>
					<i class='fas fa-user-plus'></i>
					<p>ĐĂNG KÝ</p>
				</a>
				<nav class="user">
					<ul class='dropdown'>
						<li class='drop'>
							<a href='#'>
								<i class="fas fa-user user-icon"></i>
								<p class="user-text">Tài khoản</p>
							</a>
							<ul class='sub_menu'>
								<li><a href='/doi-mat-khau'><p>Đổi mật khẩu</p></a></li>
								<li><a href='/dang-xuat'><p>Đăng xuất</p></a></li>
						</li>
					</ul>
				</nav>
			</div>
		</div>
	</div>
</div>