<div class="wrapper--sign-up main-content">
  <div id="formContentChangePass">
    <div>
      <h1 class="sign-up__title">ĐỔI MẬT KHẨU</h1>
    </div>

    <form method="POST" action="/doi-mat-khau/submit?_method=PUT" class="sign-up flex">
      <div class="form-group col-12">
        <label for="old_password">Mật khẩu cũ:</label>
        <input type="password" id="old_password" name="old_password">
        <span class="form-message"></span>
      </div>
      <div class="form-group col-12">
        <label for="new_password">Mật khẩu mới:</label>
        <input type="password" id="new_password" name="new_password">
        <span class="form-message"></span>
      </div>
      <div class="form-group col-12">
        <label for="confirm-password">Xác nhận mật khẩu mới:</label>
        <input type="password" id="confirm-password" >
        <span class="form-message"></span>
      {{#if errors}}
				<p style='color: red; font-style: italic; text-align: end; margin-top: 20px;width: 100%; padding: 0 15px;'>{{errors}}</p>
			{{/if}}
      <div class="flex mt-2 mb-2 form--btn button-mobile">
        <a href="/" class="back">
          Quay lại
        </a>
        <input type="submit" value="xác nhận">
      </div>
    </form>
  </div>
</div>

