<div class='register fadeInDown main-content'>
	<div class='container mt-3 white-background'>
		<h1 class='form__title'>ĐĂNG KÝ KHÁM CHỮA BỆNH</h1>
		<form method="POST" action="/dang-ky-kham-benh/luu" class='row g-3' id='register__form'>
			<div class='col-12 mb-3 form-group'>
				<label for='first-name' class='form-label'>Họ và tên đệm:</label>
				<input type='text' class='form-control' id='first-name' placeholder='Lê Ngọc' name="first-name"/>
				<span class='form-message'></span>
			</div>
			<div class='col-12 mb-3 form-group'>
				<label for='last-name' class='form-label'>Tên:</label>
				<input type='text' class='form-control' id='last-name' placeholder='Huỳnh' name="last-name"/>
				<span class='form-message'></span>
			</div>
			<div class='col-12 mb-3 form-group'>
				<label for='phone-number' class='form-label'>Số điện thoại:</label>
				<input type='text' class='form-control' id='phone-number' placeholder='0123456789' name='phone-number'/>
				<span class='form-message'></span>
			</div>
			<div class='col-12 mb-3 form-group'>
				<label for='date-of-examination' class='form-label'>Ngày giờ khám:</label>
				<input type='datetime-local' class='form-control' id='date-of-examination' name='date-of-examination'/>
				<span class='form-message'></span>
			</div>
			<div class='col-sm-12 col-12 col-md-3 mb-3'>
				<button type='submit' class='btn btn-primary col-sm-12 col-12 col-md-12'>ĐĂNG KÝ</button>
			</div>
		</form>
	</div>
</div>
</div>
</div>

