<div class="wrapper__main main-content fadeInDown" style="height: calc(100% + 20px); display: block;">
	<a href="/" class="header__title">
		<img class="header__title--logo" src="/img/favicon.ico" />
		<h2>C T U &emsp14; H O S P I T A L</h2>
	</a>
	<div class="header__search">
		<form action="/tim-kiem" class="header__search--input">
			<input class="search-box--input" type="number" placeholder="Nhập mã số bệnh nhân" alt="Search box" list="searchs"
				name="search" id="search" />
			<datalist id="searchs">
			</datalist>
			<label for="search-icon" class="search-input--icon"> 
				<i class="fas fa-search"></i>
			</label>
					<input type="submit" id="search-icon" hidden>
		</form>
	</div>
</div>
