<div class='container-not-found align-center main-content'>
	<img class='ops' src='/img/404.svg' />
	<br />
	<h1>Trang không tồn tại</h1>
	<a class='buton' href='/tim-kiem/trang-chu'>TRỞ LẠI</a>
</div>

<style>
	html::-webkit-scrollbar{display:none !important} body::-webkit-scrollbar{display:none !important}
</style>
<div id='scrollrail-vertical' class='' style='width: 12px; border-left-width: 1px;'>
	<div
		id='scrollbar-vertical'
		style='visibility: hidden; border-radius: 5px / 7px; box-shadow: rgba(255, 255, 255, 0.9) 0px 0px 1px 1px; height: 380.893px; top: 2px; opacity: 0;'
	></div>
</div>
<div id='scrollrail-horizontal' class='disabled' style='height: 12px; border-top-width: 1px;'>
	<div
		id='scrollbar-horizontal'
		style='visibility: hidden; border-radius: 14px / 10px; box-shadow: rgba(255, 255, 255, 0.9) 0px 0px 1px 1px; width: 1356px; left: 2px; opacity: 0;'
	>
	</div>
</div>