<div class='wrapper--sign-in fadeInDown main-content' style="display: flex;">
	<div id='formContentSignIn'>

		<div class='fadeIn first'>
			<h1 class='sign-in__title'>ĐĂNG NHẬP</h1>
		</div>

		<form method='POST' action='/dang-nhap/submit' class='sign-in'>
			<div class='form-group col-12'>
				<label for='username'>Tên đăng nhập:</label>
				<input type='text' id='username' class='fadeIn second' name='username' />
				<span class='form-message'></span>
			</div>
			<div class='form-group col-12'>
				<label for='password'>Mật khẩu:</label>
				<input type='password' id='password' class='fadeIn third' name='password' />
				<span class='form-message'></span>
			</div>
			{{#if errors}}
				<p  class="error-message">{{errors}}</p>
			{{/if}}
			<div class='flex mt-3 mb-4 button-mobile'>
				<a href='/' class='back fadeIn fourth'>
					Quay lại
				</a>
				<input type='submit' class='fadeIn fourth' value='Đăng nhập' />
			</div>
		</form>
    <div class="mb-2 sign-up-suggest">
      Bạn chưa có tài khoản?
      <a href="/dang-ky">Đăng ký</a>
    </div>

	</div>
</div>


<script>

  function myFunction(x) {
    if (x.matches) {
      document.querySelector(".navbar-right.sign-up").style.display = "flex"
      document.querySelector(".sidebar__link.sign-up").style.display = "flex"
	    document.querySelector(".user").style.display = "none"
	    document.querySelector(".sidebar__link.change-password").style.display = "none"
	    document.querySelector(".sidebar__link.sign-out").style.display = "none"
    }
    else {
      document.querySelector(".navbar-right.sign-up").style.display = "none"
      document.querySelector(".sidebar__link.sign-up").style.display = "none"
	    document.querySelector(".user").style.display = "flex"
			document.querySelector(".sidebar__link.change-password").style.display = "flex"
	    document.querySelector(".sidebar__link.sign-out").style.display = "flex"
    }
  }
  var x = window.matchMedia("(min-width: 0px)")
  myFunction(x)
  x.addListener(myFunction)
</script>